html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.boton.cinco span{
  transition: .4 ease-in-out all;
  position: absolute;
  left: 40%;
}

.boton.cinco .icono{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  transition: .3s ease-in-out all;
  opacity: 0;
}

.boton.cinco svg{
  color: #fff;
  width: 35px;
  height: 35px;
}

.boton.cinco:hover{
  background: #285430;
}

.boton.cinco:hover .icono{
  left:  calc(100%);
  opacity: 1;
}

.boton.cinco:hover span{
  left: 20px;
}
