.Botones{
    display: flex;
    justify-content: center;
}

.Grafica{
    margin-top: 25px;
    width: 95%;
    height: 400px;
}



.titulo {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    width: 94.5%;
    display: flex;
    justify-content: space-between;
}

.filtro {
    margin-left: 4rem;
}

.filtro-form {
    display: flex;
}

.button-buscar {
    padding-top: 1.99rem;
}


table td{
    text-align: center;
}

.Orden-tabla {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-Orden-table {
    width: 95%;
}

td.iconos {
    text-align: center;
}

.detalle-btn {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.archivo-btn {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}

.divider {
    margin: 2.25rem 0 1.25rem 0;
}

.detalle-tabla {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-Detalle-table {
    width: 95%;
}

.titulo{
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    width: 94.5%;
    display: flex;
    justify-content:space-between;
}

.form-Principal-encabezado{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.form-Principal-encabezado-numero{
    flex-grow: 4;
}

.divider{
    margin: 2.25rem 0 1.25rem 0;
}

.divider-titulo{
    margin: auto 0 1.25rem 1.5rem;
}

.button-aceptar{
    margin-top: 2rem;
}

.form-Detalle-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.25rem 0 3rem 0;
    padding: 1.5rem;
    
}

.form-Detalle-mensaje{
    align-self: flex-start;

}

.button-registrar{
    margin-top: 2rem;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

select:invalid {
    border-color: red;
}

select:valid {
    border-color: green;
}


